<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>



    <h1>Stranger Things</h1>
    <div class="container text-center">
        <a href="/characters"><button class="btn">Characters</button></a>
        <%- include('partials/form.ejs', { data }) %> 
    </div>



<%- include('partials/footer.ejs') %>
